.navbar-gradient {
  background: linear-gradient(to right, #cccccc, #2c2c2c);
  /* De cinza escuro a claro */
  color: white;
}

.navbar-gradient2 {
  // background: linear-gradient(to right, #8bacf1, #caf7fd ); /* De cinza escuro a claro */
  background: white;
  color: white;
}


.no-pointer {
  cursor: default !important;
}




/* Garantir que a altura da página seja limitada e sem rolagem */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Remove a barra de rolagem */
}

/* Evitar que o conteúdo ultrapasse a altura da tela */
.d-flex {
  overflow-y: auto;
  /* Permite rolar se necessário, mas só dentro do conteúdo */
}